@charset "urf-8";
#wrap {width: 1200px; margin: 0 auto; overflow: hidden;}
header {background: url(../img/main.jpg); position: relative; width: 100%; height: 560px;}
#header_logo {position: relative; width: 20%; height: 40px; }
#header_logo > img {position: absolute; height: 40px; left: 15px; top: 10px;}

#menu_bar {position: absolute; top: 10px; left: 355px; width: 80%; overflow: hidden; }
#menu_bar > div > ul > li {float:left; margin-left:100px; }
#menu_bar > div > ul > li > a {display: block; font-size: 24px; color: #fff; font-weight: bold; }

section { width: 100%; overflow: hidden;}
section > #article1 {width: 100%; }
section > div > h2 {margin: 100px; text-align: center; font-weight: bold;}
section > #article1 > h3 {position: absolute; top: 780px; left: 600px; font-size: 30px; color: #aaa;}
section > #article1 > .p1 {position: absolute; top: 840px; left: 600px; font-size: 14px; color: #666;}
section > #article1 > .p2 {position: absolute; top: 980px; left: 600px; font-weight: bold; font-size: 15px; color: #555;}
section > #article1 > img {width: 25%; float: right; margin-right: 150px} 
section > #article1 > a {position: absolute; padding: 0px 5px 2px; right:732px; top:1015px; color: gray; font-size: 12px; border: 1px solid gray; border-radius: 40px;}

section > #article2 {position: relative; width: 100%;  overflow: hidden;}
section > #article2 > h2 {margin: 100px; text-align: center; font-weight: bold;}
section > #article2 > p {position: absolute; top: 545px; right: 0px; font-size: 50px; font-weight: bold; color: #ffb300; }
section > #article2 > a > img {float: left; width: 50%; height: 400px; opacity: 90%;}

section > #article3 {position: relative; width: 100%; height: 780px;}
section > #article3 > #h1 {position: absolute; top: 100px; left: 200px;}
section > #article3 > h3 {position: absolute; top: 250px; left: 295px; font-size: 30px; color: #aaa;}
section > #article3 > p {position: absolute; top: 350px; left: 295px; color: #666; font-size: 12px;}
section > #article3 > #m1 {position: absolute; top: 450px; left: 302px; width: 350px; z-index: 10;}
section > #article3 > #m2 {position:absolute; left: 690px; top: 120px; height: 480px;}

section > #article3 > ul {position: absolute; top: 610px; right: 369px;}
section > #article3 > ul > li {float: left; margin-left: 5px;}
section > #article3 > ul > li > a {color: #555; font-size: 1px;}
section > #article3 > ul >li:nth-child(1) {background-color: #333; border-radius: 100% 100% 100% 100%;}

footer {position: relative; width: 100%; height: 75px;  }
#footer1 {position: relative; width: 100%; height:40px;}
#footer_logo {position: relative;}
#footer_logo > img {position: absolute; top: 7px; left: 250px; width: 14%;}
#footer_p{position: relative;}
#footer_p > .footer_p1 {position: absolute; top: 5px; left: 450px; font-size: 11px; }
#footer_p > .footer_p2 {position: absolute; top: 5px; left: 800px; font-size: 11px;}

#footer2 {width: 90%; height: 35px; text-align: center;}

#footer2 >div {display: block; width: 80%; height: 50px; margin-left:160px; background: #161616;}
#footer2 > div > a {margin-left: 9%; color: #999; } 
#footer2 > div > p {font-size: 10px; color: #999;}
